.page.theme_dark {
	--color-title:#DB00FF;
	--background-color:rgb(0, 0, 40);
	--background-image:url(../images/cover-image-dark.png);
	--hover-color: 1px solid rgba(255, 0, 112, 0.4);
	--article-title:#FF0070;
	--article-subtitle:#000028;
	--text-color:#F1B2CE;
	--rec-color:#FF0070;
	--text:var(--article-title);
	--corners-color: var(--article-title);
}
/*АВТО*/
@media (prefers-color-scheme: dark) {
  :root {
		--color-title:#DB00FF;
		--background-color:rgb(0, 0, 40);
		--background-image:url(../images/cover-image-dark.png);
		--hover-color: 1px solid rgba(255, 0, 112, 0.4);
		--article-title:#FF0070;
		--article-subtitle:#000028;
		--text-color:#F1B2CE;
		--rec-color:#FF0070;
		--text:var(--article-title);
		--corners-color: var(--article-title);
    }
}