.page.theme_dark {
	--color-title:#DB00FF;
	--background-color:rgb(0, 0, 40);
	--background-image:url(../images/cover-image-dark.png);
	--article-title:#FF0070;
	--article-subtitle:#000028;
	--text-color:#F1B2CE;
	--rec-color:#FF0070;
}
/*АВТО*/
@media (prefers-color-scheme: dark) {
  :root {
		--color-title:#DB00FF;
		--background-color:rgb(0, 0, 40);
		--background-image:url(../images/cover-image-dark.png);
		--article-title:#FF0070;
		--article-subtitle:#000028;
		--text-color:#F1B2CE;
    }
}