.page.theme_light {
	--color-title:#FFC2E6;
	--background-color:#FFF1F7;
	--background-image:url(../images/cover-image-light.png);
	--article-title:#353430;
	--article-subtitle:var(----article-title);
	--text-color:var(----article-title);
	--rec-color:#FFF1F7;
}
/*АВТО*/
@media (prefers-color-scheme: light) {
  :root {
		--color-title:#DB00FF;
		--background-color:rgb(0, 0, 40);
		--background-image:url(../images/cover-image-light.png);
		--article-title:#353430;
		--article-subtitle:var(----article-title);
		--text-color:var(----article-title);
    }
}

