@media screen and (width <=768px){
	.header__theme-menu{
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		margin-block-start:clamp(3.4375rem, -3.5401rem + 29.771vw, 10.75rem);;
	}
		.header__theme-menu-list{
			flex-direction: column;
			align-items: end;
		}
	}
	@media screen and (width <=376px) {
		.header{
			margin: 10px;
		}
		.header__subtitle{
			width: 100%;
		}
	}